body {
  background: #a4a4a4 url(../Image/background.png) repeat-x;
} 
#tree {
  background: url(../Image/dianxian.png) no-repeat;
  position:absolute;
  top:35%;
  bottom:0px;
  left:700px;
  width:550px;
  height:400px;
  margin:-10px;
  clear:both;
}
#logo {
  background: url(../Image/logo.gif) no-repeat;
  position:absolute;
  top: 15%;
  left: 800px;
  width: 400px;
  height: 80px;
  text-indent: -9999em;
  margin: 0;
  z-index: 3;
  clear: both;
}
#intro {
  position:absolute;
  top: 15%;
  left: 150px;
  background: url(../Image/t.gif) no-repeat;
  padding: 10px 0 0 95px;
  width: 300px;
  clear:both;
}
#intro span{
  position:absolute;
  top: -99999px;
}
#intro p {
  margin: 0 0 12px 0;
  color: #000;
  font-family: Georgia, sans-serif;
  font-size: 0.8em;
}
ul {
  position: absolute;
  top: 35%;
  left: 150px;
  width:100%;
}
ul li {
  position:relative;
  z-index: 4;
  list-style: none inside;
  width: 482px;
  margin: 14px;
}
#about {
  background: url(../Image/about.png) no-repeat;
  position:absolute;
  top: 35%;
  left: 100px;
  width:700px;
  height: 350px;
  margin: 0;
}
#pen {
  background: url(../Image/pen.png) no-repeat;
  position: absolute;
  top: 35%;
  left: 880px;
  width: 173px;
  height: 300px;
  margin:0;
}
#back {
  position: absolute;
  bottom: 0px;
  left:1000px;
  width:120px;
  height:40px;
  margin:0;
  list-style: none;
}
#error {
  background: url(../Image/404.png) no-repeat;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 568px;
  height: 236px;
  margin:0;
  text-indent: -9999px;
}
