html {
  color: #000;
  min-height: 100%;
  background-color: #aabcd1;
  /**#dcdcdc**/
  padding: 0;
  margin: 0;
}
form {
  width:400px;
  float:right;
}

body {
  max-width: 1200px;
  position: relative;
  font: 100 14px/1.5 "Trebuchet MS", Helvetica, SimSun, sans-serif;
  margin: 1em 2em 1em 2em;
  line-height: 130%;
}

p, ul, li, table {
  margin: 0;
  padding: 0;
}

a {
  color: #000080;
  text-decoration: none;
  padding-bottom: 1px;
}

a:hover {
  color: #c05800;
  padding-bottom: 0;
  border-bottom: 1px solid #468;
}

a:visited {
  color: #004040;
}

input:focus, a:focus, button:focus {
  box-shadow: 0 0 3px #cb0;
  -webkit-box-shadow: 0 0 3px #cb0;
  -moz-box-shadow: 0 0 3px #cb0;
}

h1, h3, h4, h5, h6 { 
  font-family: "Microsoft Yahei", sans-serif;
  margin: 0;
  padding: 0.15em 0;
}

h1 {
  font-size: 4.6em;
  padding-bottom: 0.1em;
  color: #000;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#mynav h2 {
  position:relative;
  margin:0px;
  padding:0px;
  width:0px;
  text-shadow: 1px 1px 0 #fff;
}
#mynav h2 a {
  font-size: 20px;
  /*border-bottom: 1px solid #29362E;*/
  /*border-bottom: 1px solid rgba(255,230,0,0.1);*/
  /*color: #fd5;*/
  /*margin-top: 1em;*/
  /*float:left;*/
  display: block;
  width:130px;
  height: 1em;
  padding: 9px 20px;
  background-color: #c0c0ff;
  border: 1px solid #3A4D5B;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 1px;
  -moz-border-radius: 1px;
  color: #4e4e68;
  box-shadow: 3px 4px rgba(10,10,0,0.6);
  -webkit-box-shadow: 3px 4px rgba(10,10,0,0.6);
  -moz-box-shadow: 3px 4px rgba(10,10,0,0.6);
  -webkit-transition: all 0.45s linear;
  -moz-transition: all 0.45s linear;
  float:left;
  clear:both;
}

#mynav h2 a:hover,h2 a:focus{
  color: #f3f3f3;
  border-color: #3a4d5b;
  background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
  background: #112233;
  box-shadow: 0 1px 1px 0px rgba(10,10,0,0.6);
  -webkit-box-shadow: 0 1px 1px 0px rgba(10,10,0,0.6);
  -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}
h2 {
  font-size:1.44em;
  color:#000;
  width: 80%;
  margin-top:0.8em;
}


h3 {
  font-size: 1.22em;
  color: #000018;
  width: 80%;
  /*border-bottom: 1px dashed #29362E;*/
  /*border-bottom: 1px dashed  rgba(255,230,0,0.1);*/
  margin-top: 0.9em;
  margin-bottom: 0.4em;
}

h4 {
  font-size: 1.15em;
  color: #004000;
  margin-top: 0.8em;

}

h5 {
  font-size: 1.05em;
  color: #404000;

}
h6 {
  font-size: 1.0em;
  color: #4000000;
}

p, pre, blockquote, table, ul, ol, dl {
  margin: 0.5em 0 1em;
}

ul ul, ul ol, ol ol, ol ul {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

li {
  margin: 0.3em auto;
  list-style-position: inside;
}

ol, ul {
  margin-left: 1em;
  padding-left: 0.5em;
}

dt {
  font-weight: bold;
}

img {
  border-bottom:2px solid #112233;
  border-right:2px solid #aabbcc;
}

code {
  padding: 2px 4px;
  color: #c00000;
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}

/* 下面这三段语句负责代码框的特效 */
blockquote, pre {
  padding: 0.8em;
  /*background: #39213E;
  background: rgba(255,30,120,0.12);
  border: 1px solid #614;
  position: relative;*/
  z-index: 2;
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
  -webkit-transition: all 0.45s linear;
  -moz-transition: all 0.45s linear;

}

blockquote {
  background: #ffc0c0;
  border: 1px solid rgba(230,0,20,0.2);
}


pre {
  /*border-left: 1px solid #c26;*//* 生成代码段前面的竖直红线 */
  margin-left: 1em;
  padding: 0.4em 0.8em;
}

table, td, th
{
  border:1px solid green;
}
th
{
  background-color:#5cee54;
  color:white;
}

.syntaxhighlighter table {
  width: 100%;
}

.syntaxhighlighter td.gutter {
  width: 1em;
}

.syntaxhighlighter .gutter .line {
  padding-right: 0.3em;
}

th, td {
  border: 1px solid #256;
  padding: 0.3em 0.5em;

}


hr {
  border: none;
  border-top: 3px double #035;
  width: 100%;
  margin: 20px 0;
  clear:both;
}

del {
  text-decoration: line-through;
  opacity: 0.6;
}

strong, b {
  font-weight: 600;
  color: #000;
  font-style: italic;
}

em, i {
  font-family: Candara, "Microsoft Yahei", sans-serif;
  font-style: italic;
}

textarea {
  background: transparent;
  color: #fff;
  resize: none;
}

.tocWrap {
  position: fixed; 
  width: 200px;
  z-index: 100;
  top: 16%;
  right: 2.8%;
  display: none;
}

.toc {
  display: none;
  overflow: auto;
  overflow-x: hidden;
  border: 1px solid #c0c0ff;
  border-radius: 0 0 1px 1px;
  -moz-border-radius: 0 0 1px 1px;
  color: #999;
  background: #0C1F2C;
  background: rgba(10,30,40,0.85);
  padding: 12px;
  box-shadow: 0 1px 8px #000;
  -webkit-box-shadow: 0 1px 8px #000;
  -moz-box-shadow: 0 1px 8px #000;
}

.tocWrap .toggler {
  text-align: center;
  font-size: 12px;
  background: #00ff00;
  border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  color: #122;
  position: relative;
  z-index: 101;
  cursor: pointer;
}

.toc ul {
  margin: 0;
}

.toc li {
  color: #eff;
}

.toc a {
  color: #eff;
}

.todo {
  font-weight: bold;
  background-color: #050506;
  color: #a03020;
}

.justleft {
  text-align: left;

}

.justright {
  text-align: right;

}

.justcenter {
  text-align: center;

}

.center {
  margin-left: auto;
  margin-right: auto;
}


#main {
  padding: 10px 20px;
  position: relative;
}

#header {
  border-top: 1px dashed #246;
}

#top-nav {
  position: relative;
  top: -25px;
  width: 450px;
  overflow: hidden;
  zoom: 1;
}

#top-nav ul {

}
#top-nav ul li{
  position: relative;
  float: left;
  left:-20px;
  list-style: none;
  margin:0 0 0 0;
  padding:0;
}

#top-nav a{
  display: block;
  padding: 6px 20px;
  background: #8484af;
  background-color: #c0c0ff;
  border: 1px solid #3A4D5B;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 1px;
  -moz-border-radius: 1px;
  color: #303030;
  box-shadow: 0 1px 3px rgba(10,10,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
  -moz-box-shadow: 0 1px 3px rgba(10,10,0,0.6);
  -webkit-transition: all 0.45s linear;
  -moz-transition: all 0.45s linear;
}

#top-nav a:hover, #top-nav a:focus {
  color: #f3f3f3;
  border-color: rgba(255,255,255,0.35);
  background: #112233;
  background: -webkit-gradient(linear, 0 0, 0 95%, from(rgba(20,56,76,0.8)), to(rgba(0,40,60,1)));
  box-shadow: 0 1px 0px rgba(10,10,0,0.6);
  -webkit-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
  -moz-box-shadow: 0 1px 0px rgba(10,10,0,0.6);
}

#footer {
  margin-top: 20px;
  text-align: center;
  border: none;

}

/*	自定义红色标签 */
red {
  padding: 2px 4px;
  color: red;
  font-family: 'Lucida Console', 'Courier New', Courier, monospace;
}
#intro {
  margin-left:200px;
  font-family: monospace, Courier;
  font-size:22px;
  border-bottom:solid 1px #112233;
  border-right:solid 1px #112233;
  border-left:solid 1p1x #b8b8b8;
  border-top:solid 1px #b8b8b8;
  padding:23px 7px 7px 23px;
  color:#000000;
  background-color:#c0c0ff;
  border-radius: 1px;
  -moz-border-radius: 1px;
  box-shadow: 4px 5px rgba(10,10,0,0.6);
  -webkit-box-shadow: 4px 5px rgba(10,10,0,0.6);
  -moz-box-shadow: 4px 5px rgba(10,10,0,0.6);
}
#intro p a {
  color:blue;
  line-height:1.2em;
}
#mynav {
  width:160px;
  float:left;
  clear:none;
}
