<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="Stylesheet" type="text/css" href="css/style.css"/>
    <title>练习</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- for SyntaxHighlighter core -->
    <script type="text/javascript" src="scripts/shCore.js"></script>
    <link type="text/css" rel="stylesheet" href="styles/shCore.css"/>
    <!-- for SyntaxHighlighter theme -->
    <link type="text/css" rel="stylesheet" href="styles/shThemeMidnight.css"/>
    <!-- for SyntaxHighlighter syntax -->
    <script type="text/javascript" src="scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="scripts/shBrushLua.js"></script>
    <script type="text/javascript" src="scripts/shBrushPerl.js"></script>
    <script type="text/javascript" src="scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="scripts/shBrushVim.js"></script>
    <script type="text/javascript" src="scripts/shBrushLisp.js"></script>
    <script type="text/javascript" src="scripts/shBrushDiff.js"></script>
    <!-- for SyntaxHighlighter execute -->
    <script type="text/javascript">
      SyntaxHighlighter.all();
      </script>
    </head>
    <body>
      <div id="header">
	<div id="top-nav">
	  <ul>
	    <li><a href="/"> 主页</a></li>	
	    <li><a href="diary/diary.html"> 日记</a></li>	
	    <li><a href="about_this_blog.html"> 关于</a></li>	
	    <li><a href="http://reverland.tk/links.html"> 链接</a></li>	
	    <li><div class="rss"><a href="https://github.com/reverland/reverland.github.com/commits/master.atom">RSS</a></div></li>
	  </ul>
	</div>
	<!--google 搜索抄来的代码有空再改-->
	<div>
	  <form method="get" action="http://www.google.com/search">
	    <p>
	    <input name="q" type="text"/>
	    <input name="btnG" value="Google 搜索" type="submit"/>
	    <input name="ie" value="GB2312" type="hidden"/>
	    <input name="oe" value="GB2312" type="hidden"/>
	    <input name="hl" value="zh-CN" type="hidden"/>
	    <input name="domains" value="reverland.tk" type="hidden"/>
	    <input name="sitesearch" value="reverland.tk" type="hidden"/>
	    </p>
	  </form>
	</div>
	<!--Google站内搜索结束-->
      </div>
      <div class="content">
	
<h1 id="toc_1" class="justcenter">这是Vimwiki的练习</h1>
<hr />
<div class="toc">
<ul>
<li><a href="#toc_1">这是Vimwiki的练习</a>
<ul>
<li><a href="#toc_1.1">语法高亮</a>
<li><a href="#toc_1.2">表格</a>
<li><a href="#toc_1.3">blockquote</a>
</ul>
<li><a href="#toc_2">to do list</a>
<ul>
<li><a href="#toc_2.0.1">高亮示例</a>
</ul>
</ul>
</ul>
</div>
<h2 id="toc_1.1">语法高亮</h2>
<hr />
<p>
<strong>bold</strong>
<em>Italic</em>
<del>strike out</del>
<code>code no syntax</code>
super<sup><small>script</small></sup>
sub<sub><small>script</small></sub>
Definition lists: &gt;
<dl>
<dt>Term 1</dt>
<dd>Definition 1</dd>
<dt>Term 2</dt>
<dd>Definition 2</dd>
<dd>Definition 3</dd>
</p>
<h2 id="toc_1.2">表格</h2>
<hr />
<table>
<tr>
<th>
Year
</th>
<th>
Temperature (low)
</th>
<th>
Temperature (high)
</th>
</tr>
<tr>
<td>
1900
</td>
<td>
-10
</td>
<td>
25
</td>
</tr>
<tr>
<td>
1910
</td>
<td>
-15
</td>
<td>
30
</td>
</tr>
<tr>
<td>
1920
</td>
<td>
-10
</td>
<td>
32
</td>
</tr>
<tr>
<td>
1930
</td>
<td>
<em>N/A</em>
</td>
<td>
<em>N/A</em>
</td>
</tr>
<tr>
<td>
1940
</td>
<td>
-2
</td>
<td>
40
</td>
</tr>
<tr>
<td rowspan="3">
a
</td>
<td>
b
</td>
<td>
c
</td>
<td>
d
</td>
</tr>
<tr>
<td rowspan="2" colspan="2">
e
</td>
<td>
f
</td>
</tr>
<tr>
<td>
g
</td>
</tr>
<tr>
<td colspan="4">
h
</td>
</tr>
</table>
<h2 id="toc_1.3">blockquote</h2>
<hr />
</dl>
<blockquote>
This would be a blockquote in vimwiki. It is not highlighted in vim but
</blockquote>



<h1 id="toc_2">to do list</h1>
<hr />
<ul>
<li class="done2">
Do stuff 1

<ul>
<li class="done0">
Do substuff 1.1

<li class="done2">
Do substuff 1.2

<ul>
<li class="done0">
Do substuff 1.2.1

<li class="done4">
Do substuff 1.2.2

</ul>
<li class="done4">
Do substuff 1.3

</ul>
<li class="done0">
Do stuff 2

<li class="done0">
Do stuff 3

</ul>

<h3 id="toc_2.0.1">高亮示例</h3>
<hr />
<p>
<code>1</code>、C/C++
</p>

<pre>
<pre class="brush: c;">
#include &lt;stdio.h&gt;

int
main(void)
{{{{c
 &lt;pre       printf("Hello, World!");
  for
            return 0;
}&lt;/pr
&lt; }}}/pre&gt;
}    }}
  {{{
` #in2`、Java
  int
{ {  {{
&lt;    pre class="brush: java;"&gt;
p }  ublic class Hello
{ }}}
	public static void main(String[] args)
	{
		System.out.println("Hello, World!");
	}
}
</pre>
</pre>

<p>
<code>3</code>、Python
</p>

<pre>
<pre class="brush: python;">
#!/bin/env python

print 'Hello, World!'
</pre>
</pre>

      </div>
      <!--评论-->
      <div id="disqus_thread"></div>
      <script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'reverlandwiki'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
     </script>
     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
     <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
     <hr/>
     <p>
     <a href="http://validator.w3.org/check?uri=referer"><img
       src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
     <a href="http://www.vim.org/"><img
       src="http://www.vim.org/images/just_vim_it_animated_click.gif" alt="This page is Vim powered" height="31" width="88" /></a>
     </p>
     <div id="footer">
       <script src="template_files/jquery-1.js" type="text/javascript"></script>
       <script src="template_files/vimwiki.js" type="text/javascript"></script>
     </div>
     <script type="text/javascript">
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-29270088-1']);
       _gaq.push(['_trackPageview']);
       (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
      </script>
    </body>
  </html>
